@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

html {
  box-sizing: border-box;
}

body{
  background-image: url("backgrounds/sunny-prairie.jpg");
  font-family: 'Space Grotesk', sans-serif;
  user-select: none;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/********************************* progress bar *********************************/
progress {
  border-radius: 2px;
  width: 100%;
  height: 6px;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
 background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
  background-color: #fff;
  opacity: 0.5;
}

/********************************* clock *********************************/
.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 9rem;
  line-height: 1;
  display: flex;
  align-items: center;
  color: white;
}

/********************************* buttons *********************************/
.mode-button {
  font-size: 20px;
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  box-shadow: none;
  color: #fff;
  border: 1px solid white;
  margin: 8px;
  border-radius: 50px;
  padding: 8px 18px 10px 18px;
  text-align: center;
  background: none;
  transition: background-color 0.5s ease;
}

.mode-button:hover {
  background-color: white;
  color: black;
}

.mode-button.active {
  background-color: white;
  color: black;
}

.main-button {
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 26px;
  background-color: white;
  color: black;
  font-weight: bold;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 10px 60px 14px 60px;
  border-radius: 50px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

#restart-button{
  cursor: pointer;
  font-size: 40px;
  background-color: transparent;
  color: white;
  transform: translateY(5px);
  margin-left: 15px;
  border: none;
}

#settings-button{
  cursor: pointer;
  font-size: 40px;
  background-color: transparent;
  color: white;
  transform: translateY(5px);
  margin-left: 15px;
  border: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}

/********************************* settings modal *********************************/

#settingsModal .modal-content {
  background-color: black; /* dark grey background */
  color: #fff; /* white text */
  font-family: 'Space Grotesk', sans-serif;
  padding: 10px;
}

/* nav pills */
#settingsModal .nav-pills .nav-link {
  background-color: black; 
  color: white; 
}

#settingsModal .nav-pills .nav-link.active {
  background-color: white; 
  color: black; 
}

/* dropdown menu */
#settingsModal .dropdown-menu {
  background-color: #000; 
  border-color: #7e7e7e; 
  border-width: 1px;
  color: #fff; 
}

#settingsModal .dropdown-menu .dropdown-item {
  background-color: black;
  color: #fff; 
}


#settingsModal .dropdown-menu .dropdown-item:hover {
  background-color: rgb(80, 80, 80);
  color: #fff; 
}

#save-color-btn, #save-theme-btn {
  background-color: white; 
  color: black; 
  border: none;
}

#color-input{
  border-color: rgb(194, 194, 194);
}

.dropdown-toggle::after {
  position: absolute;
  right: 0%;
  margin-right: 20px;
  margin-top: 9px;
}